<h1>Messages from <%= params[:id] %></h1>

<div class="ui one cards">
  <%= render 'form' %>
</div>

<div class="ui one cards thread" data-number="<%= params[:id] %>">
  <%= render @messages %>
</div>
